<ion-header>
  <ion-toolbar>
    <ion-title>Meals</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
      <br>
      <div class="ion-text-center">
        <h3>Today {{formattedDate}}</h3>
      </div>
      <br>
      <ion-item text-wrap>Breakfast</ion-item>
      <ion-item text-wrap>
        <img src="assets/meals2.png" width="30%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry. </p>
      </ion-item>
      <ion-item text-wrap>Lunch</ion-item>
      <ion-item text-wrap>
        <img src="assets/meals3.png" width="30%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry.</p>
      </ion-item>
      <ion-item text-wrap>Dinner</ion-item>
      <ion-item text-wrap>
        <img src="assets/meals1.png" width="30%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry.</p>
      </ion-item>
    </ion-content>