<ion-header>
  <ion-toolbar>
    <ion-title>Meals</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
      <br>
      <div class="ion-text-center">
        <h3>Today {{formattedDate}}</h3>
      </div>
      <br>

      <ion-card id="title" *ngFor="let p of meals" (click)="goToDetail(p)">
        <ion-item color="light">{{p.type}}</ion-item>
        <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="{{p.image}}"  alt="">
                </ion-col>
                <ion-col>
                  <h2>{{p.title}}</h2>
                  <br>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>

      

</ion-content>


