<ion-header>
  <ion-toolbar>
    <ion-title>Meals</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
      <br>
      <div class="ion-text-center">
        <h3>Today {{formattedDate}}</h3>
      </div>
      <br>
      <ion-item text-wrap>Breakfast</ion-item>
      <ion-item text-wrap>
        <img src="assets/shapes.svg" width="50%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry. Lorem 
          Ipsum has been the ndustry’s standard 
          dummy text ever since the</p>
      </ion-item>
      <ion-item text-wrap>Lunch</ion-item>
      <ion-item text-wrap>
        <img src="assets/shapes.svg" width="50%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry. Lorem 
          Ipsum has been the ndustry’s standard 
          dummy text ever since the</p>
      </ion-item>
      <ion-item text-wrap>Dinner</ion-item>
      <ion-item text-wrap>
        <img src="assets/shapes.svg" width="50%" alt="">
        <p>Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry. Lorem 
          Ipsum has been the ndustry’s standard 
          dummy text ever since the</p>
      </ion-item>
    </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="sessions" routerLink="/sessions">
        <ion-icon name="barbell"></ion-icon>
        <ion-label>Sessions</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="meals" routerLink="/meals">
        <ion-icon name="fast-food"></ion-icon>
        <ion-label>Meals</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>