<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="warning" defaultHref="menu/sessions"></ion-back-button>
    </ion-buttons>
    <ion-title>Football</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card id="title" *ngFor="let p of drills" (click)="goToDetail(p)">
    <ion-item color="light">{{p.title}}</ion-item>
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="{{p.image}}"  alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
