#title{
    ion-item{
        font-weight: bold;
    }
    h2{
        color: white;
        font-weight: bold;
    }
    ion-card-content{
        padding: 0;
    }
    ion-grid{
        padding: 0;
    }
    ion-row{
        padding: 0;
    }
}