<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="warning" defaultHref="menu/sessions"></ion-back-button>
    </ion-buttons>
    <ion-title>GYM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  id="title" *ngFor="let p of gym" (click)="goToDetail(p)">
    
    <ion-item color="light">
      <IonLabel class="ion-text-center">{{p.title}}</IonLabel>
    </ion-item>
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="{{p.image3}}"  alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
