<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="warning"  defaultHref="/football"></ion-back-button>
    </ion-buttons>
    <ion-title>{{drills.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-text-center" >
    <h2>Workout Details</h2>
  </div>

  <ion-item text-wrap>Warm Up</ion-item>
  <ion-item text-wrap>
    <img src="assets/Warm-up/warmup-1.jpg" width="30%" alt="">
    <p>Warm up 1 </p>
  </ion-item>
  
  <ion-item text-wrap>
    <img src="assets/Warm-up/warmup-2.jpg" width="30%" alt="">
    <p>Warm up 2</p>
  </ion-item>

  <ion-item text-wrap>Exercises</ion-item>
  <ion-item text-wrap>
    <img src="{{drills.image}}" width="30%" alt="">
    {{drills.subTitle}}
  </ion-item>
  <ion-item text-wrap>
    <img src="{{drills.image2}}" width="30%" alt="">
    {{drills.description}}
  </ion-item>
  <ion-item text-wrap>
    <img src="{{drills.image3}}" width="30%" alt="">
    {{drills.desc2}}
  </ion-item>

  <br>
  <br>
  <section class="full-width">
    <ion-button expand="full" color="success">Start Session</ion-button>
  </section>
</ion-content>
