<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="warning"  defaultHref="/football"></ion-back-button>
    </ion-buttons>
    <ion-title>{{drills.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-text-center" >
    <h2>Workout Details</h2>
  </div>

  <ion-item text-wrap>Warm Up</ion-item>
  <ion-item text-wrap>
    <img src="assets/Warm-up/warmup-1.jpg" width="30%" alt="">
    <p>Warm up 1 </p>
  </ion-item>
  <ion-item text-wrap>
    <img src="assets/Warm-up/warmup-2.jpg" width="30%" alt="">
    <p>Warm up 2</p>
  </ion-item>

  <ion-item text-wrap>Exercise 1</ion-item>
  <ion-item text-wrap>
    <img src="assets/shapes.svg" width="30%" alt="">
    <p>{{drills.desc1}}</p>
    <p>{{drills.desc3}}</p>
    <p>{{drills.desc5}}</p>
  </ion-item>
  <ion-item text-wrap>
    <img src="assets/shapes.svg" width="30%" alt="">
    <p>{{drills.desc2}}</p>
    <p>{{drills.desc4}}</p>
    <p>{{drills.desc6}}</p>
  </ion-item>

  <br>
  <br>
  <section class="full-width">
    <ion-button expand="full" color="success">Start Session</ion-button>
  </section>
</ion-content>
