#user-header{
    --avatar-size: 8rem;
    
    background-color: var(--ion-color-warning);
    
    h3{
    color: black;
    font-weight: bold;
    margin-bottom: 0; 
    }
    
    ion-avatar {
    height: var(--avatar-size, 8rem);
    margin: auto;
    width: var(--avatar-size, 8rem);
    }
}