<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="user-header" class="ion-padding">
    
    <!-- User Avatar (Profile Picture) -->
    <ion-avatar>
      <img src="assets/shapes.svg" alt="">
    </ion-avatar>

    <!-- Username -->
    <div class="ion-text-center">
      <ion-button color="light" size="small" [routerLink]="['/gallery']">Change Photo</ion-button>
      <h3>Guest User</h3>
    </div>
  </div>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Today's Meal Plan</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Give us Feedback</ion-title>
  </ion-toolbar> 

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>

  <section class="full-width">
    <ion-button expand="full" color="warning">Log out</ion-button>
  </section>

  </ion-content>
  

