<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="user-header" class="ion-padding">
    
    <!-- User Avatar (Profile Picture) -->
    <ion-avatar (click)="openGallery()">
      <img src="{{ avatarSrc || 'assets/shapes.svg' }}" alt="">
    </ion-avatar>

    <!-- Username -->
    <div class="ion-text-center">
      <h3 *ngIf="name || surname">{{ name }} {{ surname }}</h3>
      <h3 *ngIf="!name && !surname">Guest User</h3>
    </div>
  </div>

  <ion-list>
    <!-- Name Input -->
    <ion-item>
      <ion-label position="floating">
        Name
        <ion-text color="danger">*</ion-text>
      </ion-label>

      <ion-input clearInput [(ngModel)]="name" (ionChange)="onChange('name', $event)"></ion-input>
    </ion-item>
    <!-- End Name Input -->

    <!-- Surname Input -->
    <ion-item>
      <ion-label position="floating">
        Surname
        <ion-text color="danger">*</ion-text>
      </ion-label>

      <ion-input clearInput [(ngModel)]="surname" (ionChange)="onChange('surname', $event)"></ion-input>
    </ion-item>
    <!-- End Surname Input -->

    <div id="user-buttons" class="ion-padding">
      <ion-tab-button tab="meals">
        <ion-toolbar  color="light" class="ion-text-center">
          <ion-label><h3>Today's Meal Plan</h3></ion-label>
        </ion-toolbar>
      </ion-tab-button>
      <br>
      <ion-tab-button tab="sessions">
        <ion-toolbar color="light" class="ion-text-center">
          <ion-label><h3>Start a Session</h3></ion-label>
        </ion-toolbar>
      </ion-tab-button>
    </div>
  </ion-list>
</ion-content>
  

